<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.8Q1gMXj2GY8-Ba0obMaPmgHaEK%26pid%3DApi&f=1);">
  <div class="container px-4 banner-content d-flex flex-column justify-content-between">
      <h3 class="fw">Start yo tea. When done, I pee. Hee hee. </h1>

      <div class="text-center">
        <%= link_to "Get Started", href='#', class: "button btn-lg btn-primary px-4 py-3 btn-rounded no-decoration" %>
        <%# <%= link_to "Log out", destroy_user_session_path, class: "button btn btn-lg btn-primary", method: :delete if user_signed_in? %>
      </div>
    </div>

    <%# <div>
      <ul>
        <li>turn more tables</li>
        <li>increase avg spend</li>
        <li>get more tips</li>
      </ul>
    </div> %>


    <%# <div class="small-text">
      <h3>Scan. Split. Tip. Pay.</h3>
    </div> %>
  </div>
</div>
